examples/basic/build/*
examples/evaluation/build/*
examples/modeling_affine/build/*
examples/visualization/build/*
examples/visualization/build/CMakeFiles/3.5.2/CMakeCCompiler.cmake
examples/evaluation/build/*
examples/gauss-newton/build/*
examples/augmented_lagrangian/build/*
benchmarks/build/*
benchmarks/linear_function/build/*
examples/levenberg-marquadt/build/*
benchmarks/rosenbrock/build/*
benchmarks/g11/build/*
examples/shape-up/build/*
examples/evaluation/build/*
examples/modeling_affine/build/*
examples/visualization/build/*
tutorial/build/*